.child-content{
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.child-content > input{
    color: black;
    border-color: black;
    background-color: blue;
    
}

.child-content > .child-button {
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #1FDE82;
    text-align: center;
    color: whitesmoke;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(31, 222, 130, .46);

}